In [1]:
import pandas as pd
import json

### Shrink the dataset into subsets

In [2]:
data = []
prs = 0

with open('/Users/osamaalhalabi/Desktop/trips-planning-system/dataset/HotelRec.json') as f:
    for line in f:
        data.append(json.loads(line))
        
        if len(data) == 5000000:
            df = pd.DataFrame(data)
            df.drop(["author", "date", "title"], axis = 1, inplace = True) 
            df = df[df['property_dict'].map(len) > 2]
            df=df.reset_index(drop= True)
            data.clear()
            prs = prs + 1
            df.to_csv("/Users/osamaalhalabi/Desktop/trips-planning-system/temp/part_{0}.csv".format(prs),
                      header=True, index=False) 
            print('parsing progress: {0}/10'.format(prs))
            
        if prs == 10:
            break

parsing progress: 1/10
parsing progress: 2/10
parsing progress: 3/10
parsing progress: 4/10
parsing progress: 5/10
parsing progress: 6/10
parsing progress: 7/10
parsing progress: 8/10
parsing progress: 9/10
parsing progress: 10/10

#### Preprocessing the Data

In [10]:
def save_link(df, idx):
    df = df.drop_duplicates(subset=['hotel_url'])
    res = df.hotel_url
    res.to_csv('/Users/osamaalhalabi/Desktop/trips-planning-system/res/part_{}.csv'.format(idx),
               header=True,
               index=False)

In [38]:
df = pd.read_csv("/Users/osamaalhalabi/Desktop/trips-planning-system/temp/part_10.csv")

In [39]:
df.head(3)

,hotel_url,rating,text,property_dict
0,Hotel_Review-g34515-d85438-Reviews-Renaissance...,5.0,"I have read so much blah, blah, blah about thi...","{'service': 5.0, 'sleep quality': 5.0, 'rooms'..."
1,Hotel_Review-g612473-d4718839-Reviews-Royalton...,5.0,The staff at this resort were amazing. This wa...,"{'service': 5.0, 'cleanliness': 5.0, 'value': ..."
2,Hotel_Review-g34515-d85438-Reviews-Renaissance...,5.0,Attended a wedding at the hotel and stayed an ...,"{'service': 5.0, 'sleep quality': 5.0, 'rooms'..."

In [40]:
save_link(df, 10)

In [8]:
def get_hotel_name(url : str):
    start = url.find('-Reviews-')+9
    mid = url.find('-',start)
    end = url.find('.',mid)
    return url[start:mid], url[mid+1:end]

def change_names(names):
    names_ = [] 
    locs = []
    for hotel in names:
        (name,loc) = get_hotel_name(hotel)
        names_.append(name)
        locs.append(loc)
    return names_,locs

In [9]:
def parse(index):
    df = pd.read_csv("/Users/osamaalhalabi/Documents/GradProject/RecSys/Parsed Dataset/part_{0}.csv".format(index))
    names, locs = change_names(df.hotel_url)
    df.hotel_url = names
    df['address'] = locs
    
    df['hotel_url'] = df['hotel_url'].str.replace('_',' ')
    df['address'] = df['address'].str.replace('_',' ')
    df.rename(columns = {'hotel_url' : 'name' }, inplace = True)
    
    df_rev = df.groupby("name").sample(20, random_state=2 , replace = True)
    df_rev.drop(["address", "property_dict"], axis = 1, inplace = True) 
    df_rev = df_rev.drop_duplicates()
    df_rev.to_csv("/Users/osamaalhalabi/Documents/GradProject/RecSys/Probabilistic Dataset/reviews_{0}.csv".format(index),
                      header=True, index=False) 
    print("Reviews extracting done..")

    dicts = []
    for row in df.property_dict:
        dicts.append(eval(row))
        
    df_rate = pd.json_normalize(dicts)
    df_rate = df_rate.join(df.name, lsuffix="_left", rsuffix="_right")
    df_rate = df_rate.join(df.rating, lsuffix="_left", rsuffix="_right")
    df_rate = df_rate.join(df.address, lsuffix="_left", rsuffix="_right")
    
    df_rate = df_rate.groupby(['name','address'])['rating','service',
                                                   'location','value','cleanliness','sleep quality',
                                                   'check in / front desk', 'rooms',
                                                   'business service (e.g., internet access)'].mean()
    df_rate = df_rate.round(1)
    df_rate.to_csv("/Users/osamaalhalabi/Documents/GradProject/RecSys/Probabilistic Dataset/prob_{0}.csv".format(index),
                      header=True, index=True) 
    print("Ratings extracting done!")
    return  'Done!'

In [276]:
for idx in range(1, 11):
    parse(idx)

Reviews extracting done..

<ipython-input-274-a55b97663588>:27: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_rate = df_rate.groupby(['name','address'])['rating','service',

Ratings extracting done!
Reviews extracting done..
Ratings extracting done!
Reviews extracting done..
Ratings extracting done!
Reviews extracting done..
Ratings extracting done!
Reviews extracting done..
Ratings extracting done!
Reviews extracting done..
Ratings extracting done!
Reviews extracting done..
Ratings extracting done!
Reviews extracting done..
Ratings extracting done!

### Merge Subsets into One Dataset

In [1]:
fout=open("/Users/osamaalhalabi/Documents/GradProject/RecSys/prob_fin.csv","a")
for line in open("/Users/osamaalhalabi/Documents/GradProject/RecSys/Probabilistic Dataset/prob_1.csv"):
    fout.write(line)   
for num in range(2,11):
    f = open("/Users/osamaalhalabi/Documents/GradProject/RecSys/Probabilistic Dataset/prob_"+str(num)+".csv")
    f.__next__() 
    for line in f:
         fout.write(line)
    f.close() 
fout.close()

In [283]:
fout=open("/Users/osamaalhalabi/Documents/GradProject/RecSys/reviews_fin.csv","a")
for line in open("/Users/osamaalhalabi/Documents/GradProject/RecSys/Probabilistic Dataset/reviews_1.csv"):
    fout.write(line)  
for num in range(2,11):
    f = open("/Users/osamaalhalabi/Documents/GradProject/RecSys/Probabilistic Dataset/reviews_"+str(num)+".csv")
    f.__next__() 
    for line in f:
         fout.write(line)
    f.close() 
fout.close()

In [ ]:
fout=open("/Users/osamaalhalabi/Desktop/trips-planning-system/dataset/tripAdvisor_hotel_urls/url_fin.csv","a")
for line in open("/Users/osamaalhalabi/Desktop/trips-planning-system/dataset/tripAdvisor_hotel_urls/part_1.csv"):
    fout.write(line)   
for num in range(2,11):
    f = open("/Users/osamaalhalabi/Desktop/trips-planning-system/dataset/tripAdvisor_hotel_urls/part_"+str(num)+".csv")
    f.__next__() 
    for line in f:
         fout.write(line)
    f.close() 
fout.close()

In [285]:
rdf = pd.read_csv("/Users/osamaalhalabi/Documents/GradProject/RecSys/reviews_fin.csv")
rdf.head()

,name,rating,text
0,0031 Boutique Hotel Restaurant,5.0,At 0031 you come to the right place. Everythin...
1,0031 Boutique Hotel Restaurant,5.0,Just came back from my trip to Cumbuco. It was...
2,0031 Boutique Hotel Restaurant,5.0,I was 6 weeks in Cumbuco. 0031 is the best pla...
3,0031 Boutique Hotel Restaurant,5.0,everything was very nice. we had a lovely stay...
4,0031 Boutique Hotel Restaurant,5.0,For the third time in a row we've been to this...

In [286]:
pdf = pd.read_csv("/Users/osamaalhalabi/Documents/GradProject/RecSys/prob_fin.csv")
pdf.head()

/Users/osamaalhalabi/opt/anaconda3/envs/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,name,address,rating,service,location,value,cleanliness,sleep quality,check in / front desk,rooms,"business service (e.g., internet access)"
0,0031 Boutique Hotel Restaurant,Cumbuco Caucaia State of Ceara,4.9,4.9,4.6,4.8,4.8,4.9,5.0,4.8,4.5
1,10 Cottages,Franz Josef Westland National Park Te Wahipoun...,4.4,4.5,4.7,4.3,4.7,4.5,NaN,4.3,NaN
2,10 Karakoy Istanbul,Istanbul,4.7,4.7,4.8,4.7,4.9,4.6,NaN,4.7,NaN
3,100 Sunset Boutique Hotel,Kuta Kuta District Bali,4.1,4.3,3.4,4.3,4.1,4.2,NaN,4.2,NaN
4,100 Sunset Hotel Managed by Eagle Eyes,Kuta Kuta District Bali,4.2,4.4,3.6,4.4,4.5,4.4,NaN,4.3,NaN

In [296]:
pdf['name'].count(), rdf['text'].count()

(382086, 4605834)

### Search Loaction urls

In [6]:
df = pd.read_csv("/Users/osamaalhalabi/Desktop/trips-planning-system/dataset/tripAdvisor_hotel_urls/url_fin.csv")

In [23]:
df = df.apply(lambda x: x.astype(str).str.lower())

In [24]:
df.sample(7)

                                                hotel_url
309143  hotel_review-g317798-d2622720-reviews-hotel_sa...
77051   hotel_review-g12116658-d2298867-reviews-pensio...
356184  hotel_review-g194832-d1639021-reviews-continen...
5771    hotel_review-g529018-d1789303-reviews-sleepy_h...
180472  hotel_review-g1188000-d2644300-reviews-samui_h...
116758  hotel_review-g504217-d1947362-reviews-the_eigh...
289032  hotel_review-g317096-d7905603-reviews-sharda_s...

In [190]:
rr = df[df['hotel_url'].str.contains("antelias")]

In [176]:
# res = rr
res = res.append(rr)

In [107]:
res.head()

                                              hotel_url
26    hotel_review-g293974-d2180685-reviews-burckin_...
49    hotel_review-g293974-d294909-reviews-kalyon_ho...
562   hotel_review-g293974-d2101386-reviews-fraser_p...
1206  hotel_review-g293974-d7930206-reviews-aybar_ho...
1407  hotel_review-g293974-d814852-reviews-w_istanbu...

In [192]:
res.to_csv("/Users/osamaalhalabi/Desktop/trips-planning-system/dataset/res/lebanon.csv",
                      header=True, index=True)